.heading {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-top: 20px;
  background-color: #ffb703;
  border-radius: 40px;
}

.heading h2,
.heading p {
  margin-bottom: 10px;
  color: #023047;
  transition: 1s;
}

.heading .btn {
  margin-top: 20px;
}

.heading .heading-content {
  text-align: center;
  margin-left: 60px;
}

.heading .heading-content h2 {
  font-size: 50px;
}

.heading .heading-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.heading .heading-image {
  width: 450px;
  height: 350px;
  margin-bottom: 50px;
}

/* Class Cards */
.class-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.class-cards .card-body {
  text-align: center;
  border-radius: 20px;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(255, 183, 3);
}

.class-cards .card-body img {
  width: 200px;
}

.class-cards .card-body h3 {
  margin-bottom: 5px;
  color: var(--text-color);
}

.class-cards .card-body p {
  color: var(--text-color);
  margin-bottom: 40px;
}

.class-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.class-cards a:hover i {
  margin-left: 10px;
}

/* Get Started */
.get-started {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 20px;
  margin: 40px 0;
}

.get-started .content {
  width: 50%;
  padding: 50px 0 0 30px;
  margin-left: 100px;
  color: var(--secondary-color);
}

.get-started .content h2 {
  font-size: 40px;
  margin-top: 60px;
}

.get-started p {
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 18px;
}

.get-started .get-started-image {
  width: 40%;
  padding: 40px;
  margin-left: 50px;
}
