.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-card .login-logo {
  text-align: center;
}

.login-card .login-logo img {
  width: 100px;
  margin: 10px 0;
}

.login-card .login-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-card .login-heading h3 {
  font-size: 1.8em;
  font-style: bold;
  margin-bottom: 15px;
}

.login-card .login-heading p {
  color: var(--light-text);
}

.login-card .login-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login-card .login-content .login-form {
  border: 2px solid #fff;
  padding: 30px;
  margin: 0 20px;
  border-radius: 20px;
}
.login-card .login-content .login-form .form-content {
  display: flex;
  flex-direction: column;
}

.login-card .login-content .login-form .form-content .form-group {
  transition: all 0.3s;
}

.login-card .login-content .login-form .form-content .form-group .form-label {
  font-size: 1em;
  color: var(--text-color);
  display: block;
  opacity: 1;
  margin-left: 20px;
  transform: translateY(-2.45em);
  transform-origin: 0 0;
  transition: all 0.3s;
}

.login-card .login-content .login-form .form-content .form-group .form-control {
  box-shadow: none;
  border-style: none none none none;
  transition: all 0.5s;
}

.login-card
  .login-content
  .login-form
  .form-content
  .form-group
  .form-control::placeholder {
  color: transparent;
}

.login-card
  .login-content
  .login-form
  .form-content
  .form-group
  .form-control:focus {
  box-shadow: none;
  outline: none;
  border-style: solid solid solid solid;
  border-color: var(--secondary-color);
}

.login-card
  .login-content
  .login-form
  .form-content
  .form-group
  .form-control:focus
  + .form-label,
.login-card
  .login-content
  .login-form
  .form-content
  .form-group
  .form-control:not(:placeholder-shown)
  + .form-label {
  transform: translateY(-3.3em) scale(0.8);
}

.login-card .login-content .login-form .form-content .form-group:focus-within {
  transform: scale(1.05, 1.05);
}

.login-card .login-content .login-form input {
  width: 18rem;
  height: 50px;
  border-radius: 6px;
  background-color: var(--form-color);
  font-size: 16px;
}

.login-card .login-content .login-form .submit-button {
  background-color: #023047;
  color: var(--secondary-color);
  outline: none;
  border-style: none none none none;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  width: 10rem;
  margin: auto;
}

.login-card .login-content .login-form .submit-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: all 0.3s;
  box-shadow: 0 0 0 3px var(--text-color);
}

.login-card .login-content .register-link {
  text-align: center;
}

input[type="text"] {
  padding-top: 5px;
  padding-left: 8px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}

input[type="email"] {
  padding-top: 5px;
  padding-left: 8px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}

input[type="password"] {
  padding-top: 5px;
  padding-left: 8px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}
