.footer {
  background: var(--text-color);
  color: var(--secondary-color);
  font-size: 12px;
  padding: 20px 0;

  width: 100%;
  flex-shrink: 0;
  height: 60px; /* Height of the footer */
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
  color: var(--secondary-color);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  color: var(--secondary-color);
}

.footer li {
  margin-right: 30px;
}

.footer li a {
  color: var(--secondary-color) !important;
}
